body{
    background-image: linear-gradient(to right, rgb(235, 134, 235),  rgb(75, 3, 75));
    font-family: 'Montserrat', sans-serif;
}
.container{
    margin-top:250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 750px;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
label{
    margin-bottom: 5px;
    font-weight: bold;
    width: 115px;
}
input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    
}
.input-groups{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.gender-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.cancel-btn{
    background-image: linear-gradient(to right, rgb(235, 114, 134), rgb(239, 35, 69) );
    margin: 8px;
    padding: 15px 30px;
    text-align: center;
    font-weight:bolder;
    color: white;            
    border-radius: 10px;
    border-style: none;
}
.submit-btn{
    background-image: linear-gradient(to right, rgb(235, 134, 235),  rgb(75, 3, 75));
    margin: 8px;
    padding: 15px 30px;
    text-align: center;
    font-weight:bolder;
    color: white;            
    border-radius: 10px;
    border-style: none;
}
